<div id="friend-list">
    {% for friend in friends %}
    <div class="chip chip-lg">
        <img src="{{ friend.avatar ?? app.friend.avatar }}" alt="Friend"><a href="{{ path('app_profile_show', {id: friend.id}) }}" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Voir le profil"><span class="name">{{ friend.nickname|capitalize }}</span></a>
    </div>
    {% else %}
    <p>Aucun ami pour le moment</p>
    {% endfor %}
</div>