{% extends "layout/base.html.twig" %}

{% block title 'Edition profil' %}

{% block body %}
	<div class="container">
		<div
			id="profile" class="mt-6">

			{# Navigation secondaire du dashboard + informations #}
			{% include "profile/_nav_aside.html.twig" %}

			<section class="contentProfile">
				<h2>Edition du Profil</h2>

				{% include 'profile/_form.html.twig' with {'button_label': 'Editer'} %}

			</section>
		</div>
	</div>
{% endblock %}
