{% extends "layout/base.html.twig" %}

{% block title 'Team' %}

{% block body %}

	<div class="container">
		<section id="team">

			<h1 class="team_title">Team Place 2 Go</h1>
			<div
				class="team_cards">

				{# Team Card  Daniel#}
				<div class="team__card" data-tilt>
					<img class="team__card_img" src="https://api.multiavatar.com/302.png" alt="Daniel">
					<div class="team__card_body">
						<h5 class="team__card_body-name">Daniel</h5>
						<p class="team__card_body-text">
							Spécialisation Symfony
							<br>
							Lead Dev
						</p>
					</div>
					{# Social media icons #}
					<div class="team__card_body-social">
						<a href="https://www.linkedin.com/in/daniel-arodrigues/" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a href="https://github.com/Keygen9" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-github"></i>
						</a>
						<a href="mailto:azerodrigues.daniel@gmail.com" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fas fa-envelope"></i>
						</a>
					</div>
				</div>


				{# Team Card Fred#}
				<div class="team__card" data-tilt>
					<img class="team__card_img" src="https://api.multiavatar.com/195.png" alt="Fred">
					<div class="team__card_body">
						<h5 class="team__card_body-name">Fred</h5>
						<p class="team__card_body-text">
							Spécialisation Symfony
							<br>
							Scrum Master
						</p>
					</div>
					{# Social media icons #}
					<div class="team__card_body-social">
						<a href="https://www.linkedin.com/in/frederic-dumas-80b30000" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a href="https://github.com/Tigrou1664" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-github"></i>
						</a>
						<a href="mailto:frederic.dumas.pro@gmail.com" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fas fa-envelope"></i>
						</a>
					</div>
				</div>

				{# Team Card Oriane #}
				<div class="team__card" data-tilt>
					<img class="team__card_img" src="https://api.multiavatar.com/312.png" alt="Oriane">
					<div class="team__card_body">
						<h5 class="team__card_body-name">Oriane</h5>
						<p class="team__card_body-text">
							Spécialisation Symfony
							<br>
							Git Master
						</p>
					</div>
					{# Social media icons #}
					<div class="team__card_body-social">
						<a href="https://www.linkedin.com/in/oriane-t" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a href="https://github.com/Oriane-Toque" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-github"></i>
						</a>
						<a href="mailto:oriane.toque@gmail.com" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fas fa-envelope"></i>
						</a>
					</div>
				</div>

				{# Team Card Yohann #}
				<div class="team__card" data-tilt>
					<img class="team__card_img" src="https://api.multiavatar.com/245.png" alt="Yohann">
					<div class="team__card_body">
						<h5 class="team__card_body-name">Yohann</h5>
						<p class="team__card_body-text">
							Spécialisation Symfony
							<br>
							Product owner
						</p>
					</div>
					{# Social media icons #}
					<div class="team__card_body-social">
						<a href="https://www.linkedin.com/in/yohann-hommet/" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a href="https://github.com/YohannHommet" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-github"></i>
						</a>
						<a href="mailto:hommet.yohann@gmail.com" class="social_icons" target="_blank" rel="noopener noreferrer">
							<i class="fas fa-envelope"></i>
						</a>
					</div>
				</div>

			</div>

		</div>
	</section>

	<script type="module">
        import confetti from 'https://cdn.skypack.dev/canvas-confetti'
            confetti();
    </script>

{% endblock %}