{% extends "admin/layout/base.html.twig" %}

{% block menu_event 'active' %}

{% block title 'Ajouter une sortie' %}

{% block stylesheets %}

{{ parent() }}

{# MAPBOX #}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" rel="stylesheet">

	
<style>
    .mapboxgl-ctrl-geocoder,
    .mapboxgl-ctrl-geocoder .suggestions {
        box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important;
        border: 1px solid #bdbdbd;
        margin-bottom: 1rem;
        width: 100% !important;
        max-width: 100% !important;
    }
    #map {
        height: 500px;
        width: 100%;
    }
</style>

{% endblock %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sorties</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ajout d'une sortie</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="categories-list">

                    {{ include("admin/event/_event_form.html.twig") }}

                </div>
            </div>
        </div>
    </div>

</div>

<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoia2V5Z2VuOSIsImEiOiJja3NrNWh6MGQwczZnMnBsNHhqYnRtMDUxIn0.dq2MMs1vSwGk8nMIj9NTxQ';
	const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [2, 47],
        zoom: 4.5
	});

	// Add the control to the map.
	const geocoder = new MapboxGeocoder({accessToken: mapboxgl.accessToken, mapboxgl: mapboxgl, countries: 'fr'});

	document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

	const input = document.querySelector('.mapboxgl-ctrl-geocoder--input');
	const eventAddress = document.querySelector('#event_address');

	input.addEventListener('change', handle);
	input.addEventListener('keydown', handle);

	function handle(e) {
        let value = e.target.value;
        eventAddress.value = value;
	}

	// Listen for the result event from the geocoder.
	// 'result' event is triggered when the user makes a selection
	geocoder.on('result', function (e) {
        const lat = document.getElementById('event_lat');
        const lon = document.getElementById('event_lon');

        var latlong = e.result.geometry.coordinates;
        lat.value = latlong[0];
        lon.value = latlong[1];
    });
    
</script>

{% endblock %}
