@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #10ceaa;
  --secondary-color: #42435f;
  --hover-color: #0b9e83;
  --secondary-hover-color: #303146;
  --profile-main-color: #10ceaa;
  --profile-secondary-color: #42435f;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

/*****************************************************************? SCROLL BAR */

*::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

/*****************************************************************? CUSTOM CLASS */

.button-primary {
  background-color: var(--primary-color);
  color: white;
}

.button-primary:hover {
  background-color: var(--hover-color);
  color: white;
}

.button-secondary {
  background-color: var(--secondary-color);
  color: white;
}

.button-secondary:hover {
  background-color: var(--secondary-hover-color);
  color: white;
}

.badge-primary {
  background-color: var(--primary-color);
  padding: 0.4rem 0.6rem;
  -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 35%);
  box-shadow: 0 0 15px rgb(0 0 0 / 35%);
}

.btn-floating-sm {
  border-radius: 50%;
  padding: 0;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.btn-floating-sm .fab,
.btn-floating-sm .far,
.btn-floating-sm .fas {
  width: 2rem;
  line-height: 2rem;
}

.text-justify {
  text-align: justify;
}

.mt-6 {
  margin-top: 6rem;
}

.pages p {
  text-align: justify;
}

.pages a,
.pages a:visited {
  color: var(--primary-color);
}

.pages a:hover,
.pages a:focus {
  color: var(--hover-color);
}

/*****************************************************************? FLASH MESSAGES */

#flash_messages {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 2rem auto 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*****************************************************************? MDB */

.form-control:focus {
  border-color: var(--primary-color);
  -webkit-box-shadow: inset 0 0 0 1px var(--primary-color);
  box-shadow: inset 0 0 0 1px var(--primary-color);
}

.form-check .form-check-input {
  float: none;
}

.form-check-input[type="checkbox"]:checked {
  background-image: none;
  background-color: var(--primary-color);
}

.form-check-input[type="checkbox"]:checked:focus {
  background-color: var(--primary-color);
}

.btn-floating-sm {
  border-radius: 50%;
  padding: 0;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.btn-floating-sm .fab,
.btn-floating-sm .far,
.btn-floating-sm .fas {
  width: 2rem;
  line-height: 2rem;
}
/*****************************************************************? MDB */

#search__friends > input {
	border: none;
	border-radius: 2rem;
	background-color: #fff;
	width: 100%;
	transform: translateX(-10px);
}

#search__friends > input:focus {
	border: 2px solid var(--primary-color)!important;
}

#search__friends > button {
	width: 2rem;
	height: 2rem;
}

#search__friends > button > i {
	width: 2rem;
	line-height: 2rem;
}

#search__friends {
	height: 37px;
	background-color: transparent;
}

form[name="search_friend"] {
	margin-bottom: 3rem;
}

/*****************************************************************? HEADER */

#header {
  position: relative;
  height: 100%;
}

.masthead {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 65vh;
  overflow: hidden;

  background-size: cover !important;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 80%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 80%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    url("../img/bg-header.jpeg") no-repeat center center scroll;
}

.masthead__brand {
  margin: 0;
  color: #eee;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.03em;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.home-search {
  border: 1px solid #dddddd;
  border-radius: 32px;
  padding: 0 0.5rem;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 16px 32px rgb(0 0 0 / 15%),
    0 3px 8px rgb(0 0 0 / 10%);
  box-shadow: 0 16px 32px rgb(0 0 0 / 15%), 0 3px 8px rgb(0 0 0 / 10%);
  background-color: rgba(255, 255, 255, 0.8);
}

.home-search input[type="text"] {
  font-size: 1em;
  background-color: transparent;
}

.home-search input[type="text"],
.home-search input[type="text"]:focus {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.home-search button[type="submit"] {
  top: 2px;
  right: 2px;
  position: absolute;
  background-color: var(--primary-color);
  color: white;
}

.home-search button[type="submit"]:hover {
  background-color: var(--hover-color);
  color: white;
}

/*****************************************************************? NAVBAR */

#nav {
  height: 80px;
  background: var(--secondary-color);
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  -webkit-box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
  box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
  z-index: 1000;
}

#nav .navbar-toggler {
  color: white;
}

#nav .nav-link {
  font-size: 1.1rem;
  color: rgb(216, 216, 216);
}

#nav .nav-link.active {
  color: var(--primary-color);
}

#nav .nav-link:hover {
  color: var(--primary-color);
}

#nav .navbar .btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  height: 2.2rem;
  font-size: 0.75rem;
  padding: 0 1rem;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
}

#nav .dropdown-menu {
  padding: 0.5rem 0;
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  background-color: rgba(255, 255, 255, 0.95);
}

#nav .dropdown__buttons > ul {
  display: flex;
  align-items: center;
}

#nav .dropdown-menu.login-form {
  min-width: 22rem;
  padding: 1rem;
  right: 0;
  left: auto;
}

/*** Sticky ***/

#nav.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  -webkit-box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
  box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
}

//********* SIDENAV
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  color: #999;
  background-color: rgb(66, 67, 95, 0.95);
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px;
  text-decoration: none;
  color: #dcdcdc;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidenav .form-control {
  color: #dcdcdc;
}

.sidenav .form-control:focus {
  color: var(--hover-color) !important;
}

.sidenav a:hover {
  color: var(--primary-color);
}

.sidenav.open {
  width: 250px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*****************************************************************? HOME PAGE */

.home__title {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);

  font-weight: bold;
  font-size: 4rem;
  -webkit-text-fill-color: rgb(245, 245, 245);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secondary-color);
}

.home__title:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 2px;
  background-color: var(--primary-color);
}

.topScore {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.topScore .topScore__card {
  position: relative;
  height: 100%;
  max-height: 250px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25) !important;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.topScore .topScore__card .bg-image {
  height: 100%;
  width: 100%;
}

.topScore .topScore__card .bg-image img.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topScore .topScore__card h3 {
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  margin: 0;
  padding: 0.6rem 0;
  background: #0000002d;
  width: 100%;
  color: white;
  text-shadow: 1px 2px 4px #42435f;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.topScore .topScore__card a:hover h3 {
  text-decoration: none;
  letter-spacing: 0.1rem;
  background: #00000054;
}

.topScore .badge {
  position: absolute;
  right: 20px;
  top: 20px;
}
//********** BANDEAU DESCRIPTION
.descriptionPlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 6rem 3rem 0;
}

.descriptionPlace .descriptionPlace__picture {
  position: relative;
}

.descriptionPlace .descriptionPlace__picture img {
  position: relative;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
}

.descriptionPlace .descriptionPlace__picture:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 150px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(white),
    to(transparent)
  );
  background: -o-linear-gradient(right, white, transparent);
  background: linear-gradient(to left, white, transparent);
  z-index: 10;
}

.descriptionPlace .descriptionPlace__description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 5rem;
}

.descriptionPlace .descriptionPlace__description h2 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.descriptionPlace .descriptionPlace__description p {
  font-size: 1.3rem;
}

.descriptionPlace .descriptionPlace__description img {
  position: absolute;
  top: 0;
  left: 30%;
  -webkit-transform: translate(-50%, -15%);
  -ms-transform: translate(-50%, -15%);
  transform: translate(-50%, -15%);
  z-index: -1;
  -webkit-filter: opacity(0.08);
  filter: opacity(0.08);
  height: 600px;
}

.topCategories a,
.topContributors a {
  text-decoration: none;
  color: inherit;
}

.topCategories a:hover h3,
.topContributors a:hover h3 {
  text-decoration: underline;
}

//******************** TOP CONTRIBUTEURS
.topScore__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.4rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: 0.2s all linear;
}

.topScore__content:hover {
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 12%) !important;
}

.topScore__content .card-body {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.topScore__content-avatar {
  width: 80px;
  height: 80px;
}

.topScore__content-avatar > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 80px;
}

.topContributors .topScore .topScore__content .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.topContributors .topScore .topScore__content .card-body h3 {
  margin: 0;
  font-size: 1.5rem;
}

.topContributors .topScore .topScore__content .card-body .badge {
  position: relative;
  top: 0;
  right: 0;
}

//******************** TOP CITIES
.topCities .home__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-top: 3rem;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

  box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
  transition: 0.2s all linear;
}

.topCities .home__card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.12);
}

.topCities .home__card .home__card_image img {
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.15));
}

.topCities .home__card .home__card_content {
  text-align: center;
  padding: 0.5rem;
}

.topCities .home__card .home__card_content .home__card_date {
  font-size: 0.9rem;
  font-style: italic;
  color: #404040;
}

.topContributors .topScore .topScore__content .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.topContributors .topScore .topScore__content .card-body h3 {
  margin: 0;
	word-break: break-all;
}

.topContributors .topScore .topScore__content .card-body .badge {
  position: relative;
  top: 0;
  right: 0;
}

/*****************************************************************? CATEGORY LIST */

#categoryCarousel .carousel__img {
  max-height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
}

#categoryCarousel .carousel-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

#category .category__title {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--secondary-color);

  font-weight: bold;
  font-size: 4rem;
  -webkit-text-fill-color: rgb(245, 245, 245);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secondary-color);
}

#category .category__title::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 2px;
  background-color: var(--primary-color);
}

#category .category__card {
  border-radius: 0.25rem;
  height: 100%;
  max-height: 250px;
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.25),
    0 7px 20px 3px rgba(0, 0, 0, 0.2);
}

#category .category__card:hover {
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.4), 0 7px 20px 3px rgba(0, 0, 0, 0.3);
}

#category .category__card_title {
  display: block;
  width: 100%;
  letter-spacing: 0.1rem;
  padding: 1rem;

  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);

  text-shadow: 1px 2px 4px rgb(0 0 0 / 50%);
  transform: translateY(-4rem);
  transition: 0.3s all linear;
}

#category .category__card:hover .category__card_title {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#category .category__card .category__card_img {
  height: 100%;
}

/*****************************************************************? EVENT LIST */

/*** SEARCH FORM ***/

.search__form {
  width: 100%;
  padding: 1rem;
}

.search__form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.search__form #categories {
  columns: 3;
  margin-top: 1rem;
    @media screen and (max-width: 768px) {
    columns: 2;
  }
}

/*** LIST ***/

#list .list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-bottom: 0.8rem;
  padding: 0.2rem;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);

  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
  border: 1px solid rgba(0, 0, 0, 0.04);

  cursor: pointer;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;

    @media screen and (max-width: 768px) {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
}

#list .list__card:hover {
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

#list .list__card_image img {
  max-width: 120px;
  max-height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;

    @media screen and (max-width: 768px) {
      display: none;
    }
}

#list .list__card_image img:hover {
  -webkit-filter: drop-shadow(4px 0 6px rgba(37, 37, 37, 0.2));
  filter: drop-shadow(4px 0 6px rgba(37, 37, 37, 0.2));
}

#list .list__card_author a {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--hover-color);
}

#list .list__card_author a:hover {
  color: var(--primary-color);
}

#list .list__card_date {
  color: #757575;
  font-style: italic;
  font-size: 0.85rem;
}

#list .list__card_date a {
  text-decoration: underline;
}

#list .list__card_date a:hover {
  color: #07347e;
}

#list .list__card_title a {
  color: var(--secondary-color);
}

#list .list__card_title a {
  color: var(--secondary-hover-color);
}

#list .list__cards_attendants {
  color: #555555;
  font-style: italic;
  font-size: 0.9rem;
}

#list .list__card_content {
  width: 100%;
  margin: 0 0.5rem 0 1rem;
}

#list .list__card_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#list .list__card_categories {
  color: #0384f4;
  font-style: italic;
  font-size: 0.9rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#list .list__card_address {
  font-size: 0.9rem;
}

#list .flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*****************************************************************? EVENT SHOW */

#show {
  margin: 5rem auto 0;
}

#show .show__card {
  height: 100%;
  min-height: 350px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

#show .show__card_header {
  height: 150px;
  width: 100%;
}

#show .show__card_header_image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#show .show__card_title {
  text-align: center;
}

#show .show__card_title h3 {
  margin: 1.5rem auto 0;
  color: var(--primary-color);
}

#show .show__card_content {
  padding: 1rem;
}

#show .show__card_content-details {
  margin: 1rem 0.5rem;
}

#show .show__card_content-author {
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

#show .show__card_content-author a {
  color: var(--secondary-color);
}

#show .show__card_content-author a:hover {
  color: var(--hover-color);
}

#show .show__card_content-author,
.show__card_content-attendants,
.show__card_content-date,
.show__card_address {
  color: #757575;
  font-style: italic;
}

#show .show__card_content-description {
  text-align: center;
  margin-bottom: 2rem;
}

#show .show__card_content-description .--title {
  text-decoration: underline;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#show .show__card_content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
}

#show .show__card_categories {
  color: #0384f4;
  font-style: italic;
  font-size: 1.1rem;
  align-items: flex-end;
  margin: 0;
}

.show__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.2rem;
  padding: 0.2rem;
  border-radius: 60px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 768px) {
    border-radius: 1rem 0.5rem 0.5rem 0.5rem;
  }
}

.show__author_avatar {
  @media screen and (max-width: 768px) {
    padding: 0.5rem;
  }
}

.show__author_avatar img {
  max-width: 110px;
  max-height: 110px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;

    @media screen and (max-width: 768px) {
      max-width: 50px;
    }
}

.show__comments_content {
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3rem 1rem;
}

.show__comment_header {
  color: #757575;
  font-style: italic;
  font-size: 0.85rem;
  margin-bottom: 0.7rem;
}

.comments__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 1rem;
}

#comment_content {
  height: 8rem;
}

#cancel__comment {
  margin-right: 1rem;
}

.create__comment {
  display: none;
}

.create__comment_toggle {
  display: block;
}

.event__author {
  color: var(--primary-color);
}

/*****************************************************************? PROFIL */

.contentProfile {
  margin: 3rem 1rem 0 1rem;
}

.contentProfile h2 {
  text-align: left;
  color: var(--profile-secondary-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
}

.contentProfile h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.contentProfile p,
.contentProfile h3 {
  margin: 0;
}

.dashAction.--desktop {
  display: none;
}

.dashAction.--mobile {
  margin: 0 1rem;
}

.dashAction.--mobile .dashAction__item,
.dashAction.--desktop .dashAction__item-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  width: 100%;
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  margin: 2rem 0;
  padding: 1rem 0.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--profile-main-color);
  border-radius: 0.2rem;
}

.dashAction__item {
  border-radius: 0.2rem;
}

.dashAction.--mobile .dashAction__item-infos_details > a {
  text-decoration: none;
  color: var(--profile-secondary-color);
}

.dashAction.--mobile .dashAction__item#infos {
  border: none;
  background-color: transparent;
}

.dashAction.--mobile .dashAction__item > img {
  width: 55px;
  border-radius: 3rem;
}

.dashAction__item-action {
  text-align: center;
}

.dashAction__item > p {
  margin: 0;
  text-align: center;
}

.dashAction.--mobile .dashAction__item-infos_details {
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.dashAction__item-action_button {
  display: block;
  width: 35px;
  height: 35px;
  color: var(--profile-main-color);
  background-color: #fff;
  border-radius: 2rem;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.dashAction__item-action_button > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.dashAction__item-action_button:hover {
  color: #fff;
  background-color: var(--hover-color);
}

/*****************************************************************? PROFIL DASHBOARD */

.contentProfile span {
  display: block;
  font-weight: bold;
  text-decoration: underline;
}

.contentProfile__lastExits-picture {
  display: none;
}

.contentProfile__lastExits-infos > .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: var(--profile-secondary-color);
  color: #fff;
  border-bottom: solid 2px var(--profile-main-color);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  gap: 1rem;
}

.contentProfile__lastExits-infos > .card-header > p {
  text-align: right;
}

.contentProfile__lastExits-infos_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.contentProfile__lastExits-infos_details > p:last-child {
  text-align: right;
}

.contentProfile__lastExits-infos_actions {
  text-align: right;
}

.contentProfile__lastExits-infos_actions > .--show {
  background-color: #1266f1;
}

.contentProfile__lastExits-infos_actions > a {
  margin-left: 0.5rem;
}

/*****************************************************************? PUBLIC PROFILE */

.contentProfile__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.contentProfile.--public {
  margin: 2rem 1rem 0;
}

.contentProfile.--public h2 {
  text-align: center;
}

.contentProfile.--public .contentProfile__infos-details > h2 {
  margin: 0 0 1rem;
}

.contentProfile__description {
  margin: 4rem auto;
}

.contentProfile__description > p {
  padding: 1rem 1.5rem;
}

.contentProfile__infos-avatar {
  overflow: hidden;
}

.contentProfile__infos-avatar > img {
  width: 200px;
}

.contentProfile__infos-buttonText {
  color: #fff;
  margin: 1rem 0 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.contentProfile__infos-buttonText.--action {
  background-color: var(--profile-main-color);
}

.contentProfile__infos-buttonText.--action:hover {
  background-color: var(--hover-color);
}

.contentProfile__infos-buttonText.--back {
  background-color: var(--profile-secondary-color);
}

.contentProfile__infos-buttonText.--back:hover {
  background-color: #656e7a;
}

.contentProfile__infos-buttonText > i {
  margin-right: 1rem;
}

.contentProfile__buttons {
  text-align: right;
}

.contentProfile__friends-list {
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

.contentProfile__description,
.contentProfile__friends {
  border-bottom: solid 5px var(--profile-main-color);
}

.user__name {
  text-align: left;
}

/* classe pour le loader du bouton qui génère l'avatar */
.button--loading > span {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: button-loading-spinner 1s ease infinite;
  animation: button-loading-spinner 1s ease infinite;
}

@-webkit-keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

/*****************************************************************? PROFILE EDIT EVENT */

.contentProfile h2 > i {
  margin-right: 1rem;
}

.avatar {
  gap: 1rem;
}

#avatar__generate > span i {
  font-size: 1.5rem;
}

#avatar__generate {
  background-color: var(--primary-color);
  color: #fff;
}

#avatar__generate:hover {
  background-color: var(--hover-color);
}

.avatar__generated {
  width: 50px;
  height: 50px;
}

/*****************************************************************? CHIP */

.chip {
  display: inline-flex;
  height: 32px;
  align-items: center;
  padding: 0 12px;
  margin: 0 1rem 0 0;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: var(--profile-secondary-color);
  border-radius: 16px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.chip img {
  width: inherit;
  height: inherit;
  margin: 0 8px 0 -12px;
  border-radius: 100%;
}

.chip a {
  color: #fff;
}

.chip a:hover {
  color: var(--profile-main-color);
}

.chip .close {
  float: right;
  padding-left: 8px;
  font-size: 16px;
  line-height: 35px;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.chip .close:hover {
  color: #fff;
}

.chip.chip-md {
  height: 42px;
  border-radius: 21px;
}

.chip.chip-lg {
  height: 52px;
  border-radius: 26px;
}

/*****************************************************************? SKEDITOR */

#cke_1_top {
  background-color: var(--primary-color);
}

.cke_combo::after {
  border-right: 1px solid var(--secondary-color) !important;
}

.cke_button::after {
  border-right: 1px solid var(--secondary-color) !important;
}

.cke_toolbar_separator {
  background-color: var(--secondary-color) !important;
}

.cke_button:hover,
.cke_combo_button:hover,
.cke_button_on,
.cke_combo_on {
  cursor: pointer !important;
  background-color: var(--hover-color) !important;
  border: none !important;
}

#cke_1_bottom {
  background-color: var(--secondary-hover-color);
}

.cke_path_item {
  color: #fff !important;
}

.cke_path_item:hover {
  cursor: pointer;
  background-color: var(--primary-color) !important;
}

#cke_contact_message {
  border: 2px solid var(--primary-color);
}

/*****************************************************************? REGISTER */

#register {
  position: relative;
  margin: 0 auto;
}

#register .pinmap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  -webkit-filter: opacity(0.07);
  filter: opacity(0.07);
  z-index: -10;
}

#register .register__form {
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*****************************************************************? LOGIN */

#login {
  position: relative;
  margin: 0 auto;
}

#login .pinmap {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  filter: opacity(0.07);
  -webkit-filter: opacity(0.07);
  z-index: -10;
}

#login .login__form {
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*****************************************************************? CREATE EVENT */

#create {
  position: relative;
  margin: 0 auto;
}

#create .pinmap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  -webkit-filter: opacity(0.07);
  filter: opacity(0.07);
  z-index: -10;
}

#create .create__form {
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#create .create__form #event_description {
  height: 200px;
}

#event_event_date .input-group {
  padding-bottom: 0.3rem;
}

.col-form-label {
  padding-top: 0;
}

#event_event_date_date_month {
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}

/*****************************************************************? TEAM */

#team {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#team .team_title {
  margin-bottom: 7rem;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 4rem;
  -webkit-text-fill-color: rgb(245, 245, 245);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secondary-color);
}

#team .team_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto 10rem;
}

#team .team_cards .team__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 350px;
  margin: 0 auto;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: 0.4s all linear;
}

#team .team_cards .team__card:hover {
  border-radius: 0 20px 0 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

#team .team__card .team__card_img {
  width: 120px;
  margin: -60px auto;
  object-fit: cover;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  transform: translateZ(30px);
}

#team .team__card .team__card_body {
  margin: 90px auto 1rem;
  padding: 0 1rem;
  text-align: center;
}

.team__card_body .team__card_body-name {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--secondary-color);

  transition: 0.3s all linear;
  transform: translateZ(20px);
}

#team .team_cards .team__card:hover .team__card_body-name:after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  height: 1px;
  background-color: var(--hover-color);
}

.team__card_body .team__card_body-text {
  color: rgb(95, 95, 95);
  font-style: italic;
  font-size: 1.1rem;
  transform: translateZ(20px);
}

.team__card .team__card_body-social {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(30px);
}

.team__card_body-social .social_icons {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.team__card_body-social .social_icons:hover {
  color: var(--hover-color);
}

.team__card_body-social .social_icons .fab,
.team__card_body-social .social_icons .fas {
  filter: drop-shadow(0px 0px 4px rgba(63, 75, 95, 0.2));
}

/*****************************************************************? REPORT */

#report {
  position: relative;
  margin: 0 auto;
}

#report .pinmap {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  -webkit-filter: opacity(0.07);
  filter: opacity(0.07);
  z-index: -10;
}

#report .report__form {
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#report .report__form #report_message {
  height: 120px;
}

/*****************************************************************? REQUEST */

#request {
  position: relative;
  margin: 0 auto;
}

#request .pinmap {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  -webkit-filter: opacity(0.07);
  filter: opacity(0.07);
  z-index: -10;
}

#request .request__form {
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*****************************************************************? CHECK EMAIL */

#checkEmail {
  position: relative;
  margin: 0 auto 10rem;
}

#checkEmail .pinmap {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  -webkit-filter: opacity(0.07);
  filter: opacity(0.07);
  z-index: -10;
}

/*****************************************************************? RESET PASSWORD */

#reset {
  position: relative;
  margin: 0 auto;
}

#reset .pinmap {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  -webkit-filter: opacity(0.07);
  filter: opacity(0.07);
  z-index: -10;
}

#reset .reset__form {
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*****************************************************************? FOOTER */

#footer {
  background-color: var(--secondary-color);
  margin: 6rem auto 0;
  padding: 3rem 3rem 1rem;
  color: rgb(240, 240, 240);

  @media screen and (max-width: 768px) {
    margin: 2rem auto 0;
    padding: 1rem 0.5rem 1rem;
  }
}

#footer .icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#footer .icon__list .icon__list_icons {
  color: var(--primary-color);
  font-size: 0.75rem;
  -webkit-filter: drop-shadow(0 0 0.3rem #b9ebe14d);
  filter: drop-shadow(0 0 0.3rem #b9ebe14d);
}

#footer .icon__list .icon__list_icons:hover {
  color: var(--hover-color);
  -webkit-filter: drop-shadow(0 0 0.3rem #b9ebe12a);
  filter: drop-shadow(0 0 0.3rem #b9ebe12a);
}

.icon-list-social .icon-list-social-link:hover {
  color: #656e7a !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#footer .footer__divider {
  height: 1px;
  color: white;
  margin: 3rem 2rem;

    @media screen and (max-width: 768px) {
      margin: 2rem 1rem;
    }
}

#footer a {
  color: var(--primary-color);
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

#footer a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

#footer .footer__links {
  list-style: none;
}

#footer .footer__links a {
  font-size: 1.1rem;
  text-decoration: underline;
}

#footer .footer__links .fas.fa-caret-right {
  color: var(--hover-color);
  margin-right: 0.3rem;
}

#footer .footer__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

/************************************************  404 PAGE */
.error__page {
	position: relative;
  background-image: url("../img/404.jpg");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom: -2rem;
}

/************************************************ OTHER ERRORS  */
.error__game {
	position: relative;
	background-image: url("../img/fond-errors.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin-bottom: -6rem;
}

/************************************************ 403  */
.--forbidden {
	position: relative;
	background-image: url("../img/403.png");
	height: 45vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: -2rem; 
}

.action-home {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

.return__home {
  position: relative;
  top: 88%;
  left: 30%;
  color: white;
  font-size: 16px;
}

.container__error{
  width: 45%;
  margin: 0 auto;
  padding-top: 4rem;
}

.container__game {
	position: absolute;
	top: 55%;
	left: 50%;
	display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  transform: translate(-50%, -50%);
}

.avatar__game {
	width: 100px!important;
	height: 100px!important;
	align-self: center;
}

.container__game > img {
	height: 365px;
	width: 195px;
	cursor: pointer;
}

.error__text{
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
}

.error__message {
	position: absolute;
	text-align: center;
	top: 8rem;
	left: 1rem;
	right: 1rem;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
}

#error__win {
	display: none;
	position: absolute;
	top: 2rem;
	left: 2rem;
}

/*****************************************************************/
/************************************************  MEDIA QUERIES */
/*****************************************************************/

@media screen and (max-width: 575px) {
  .container {
    padding: 0.5rem !important;
    margin: 0 !important;
  }

  .masthead__brand {
    font-size: 2.5rem;
  }

  /************************************************ HOME  */
  .home__title {
    margin: 3rem 0;
    font-size: 2.5rem;
  }

  .home__title:after {
    width: 30%;
  }

  .descriptionPlace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3rem auto 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .descriptionPlace .descriptionPlace__picture img {
    height: 290px;
  }

  .descriptionPlace .descriptionPlace__description img {
    left: 50%;
    top: 30%;
    height: 450px;
  }

  .descriptionPlace .descriptionPlace__description {
    padding: 1rem 3rem;
  }

  .descriptionPlace .descriptionPlace__description h2 {
    margin: 1rem;
  }

  .descriptionPlace .descriptionPlace__description p {
    font-size: 1.1rem;
  }

  /************************************************ PAGE LIST  */
  #list .flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  /************************************************  404 PAGE */

  .error__page {
    height: 60vh;
  }

  .return__home {
    padding: .3125rem 1rem .3125rem;
    font-size: .75rem;
    line-height: 1.5;
    left: 33%;
  }

  .container__error{
    width: 70%;
    padding-top: 3rem;
  }

  .error__text{
    font-size: 20px;
  }

}

@media screen and (min-width: 576px) {
  .container {
    padding: 0 1rem !important;
  }

  .home__title {
    margin: 3rem 0;
    font-size: 3rem;
  }

  /************************************************ HOME  */
  .descriptionPlace {
    display: block;
    margin: 4rem 1rem 0;
  }

  .descriptionPlace .descriptionPlace__description {
    padding: 1rem 3rem;
  }

  .descriptionPlace .descriptionPlace__picture img {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .descriptionPlace .descriptionPlace__description p {
    font-size: 1.2rem;
  }

  .descriptionPlace .descriptionPlace__description h2 {
    font-size: 2.5rem;
  }

  .descriptionPlace .descriptionPlace__description img {
    top: 40%;
    left: 50%;
  }

  /************************************************ PUBLIC PROFILE  */
  .contentProfile__infos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .contentProfile__infos-details,
  .contentProfile.--public .contentProfile__infos-details > h2 {
    margin-left: 2rem;
  }

  /************************************************ ERROR PAGE */
	.error__message {
		font-size: 2rem;
	}
}

@media screen and (min-width: 700px) {
  /************************************************ HOME  */
  .topScore {
    grid-template-columns: repeat(2, 1fr);
  }

  .contentProfile.--public {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 768px) {
  .descriptionPlace .descriptionPlace__description img {
    top: 50%;
    left: 50%;
    height: 500px;
  }

	.--forbidden,
	.error__page {
		margin-bottom: -6rem;
		height: 90vh;
	}
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 !important;
  }

  .home__title {
    margin: 4rem 0;
    font-size: 4rem;
  }

  /************************************************ HOME  */
  .descriptionPlace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 6rem 2rem 0;
  }

  .descriptionPlace .descriptionPlace__picture img {
    width: auto;
  }

  .descriptionPlace .descriptionPlace__description img {
    top: 15%;
    left: 50%;
  }
  /************************************************ REGISTER FORM  */
  .invalid-feedback {
    position: initial;
    margin-top: 0;
  }

  .form-control.is-invalid {
    margin-bottom: 0;
  }

  /************************************************ PROFILE  */

  .dashAction.--desktop {
    display: block;
  }

  .dashAction.--mobile {
    display: none;
  }

  #profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .dashAction.--desktop {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .contentProfile {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 0 0 0 2rem;
  }

  .dashAction.--desktop > .dashAction__item {
    margin: 1rem 0;
  }

  .dashAction.--desktop .dashAction__item:first-child {
    border-left: solid 15px var(--profile-main-color);
  }

  .dashAction.--desktop .dashAction__item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    width: 100%;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    margin: 2rem 0;
    padding: 1rem 0.2rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: var(--profile-main-color);
    border-radius: 0.2rem;
  }

  .dashAction.--desktop .dashAction__item-infos {
    margin: 0;
    padding: 0;
    background-color: transparent;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .dashAction.--desktop .dashAction__item-infos > img {
    width: 85px;
    border-radius: 3rem;
  }

  .dashAction.--desktop .dashAction__item-infos_details {
    text-align: right;
  }

  .dashAction.--desktop .dashAction__item > .card-header {
    background-color: var(--profile-main-color);
    text-align: center;
  }

  .dashAction.--desktop .dashAction__item > .card-header > h3 {
    color: #ffffff;
    margin: 0;
  }

  .dashAction__item-button {
    text-align: right;
    margin: 1rem 0 0 0;
  }

  /************************************************ DASHBOARD  */

  .contentProfile__lastExits > .card > div {
    display: flex;
    height: 220px;
  }

  .contentProfile__lastExits-picture {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  .contentProfile__lastExits-picture > img {
    object-fit: cover;
    height: 100%;
  }

  .contentProfile__lastExits-infos {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }

  .contentProfile__lastExits-infos > .card-header {
    border-radius: 0;
  }

  .contentProfile.--public {
    margin: 2rem 7rem;
  }
}

@media screen and (min-width: 1200px) {
  /************************************************ HOME  */
  .topScore {
    grid-template-columns: repeat(3, 1fr);
  }

  .home__title {
    margin: 6rem 0;
  }

  .home__title:after {
    width: 50%;
  }

  .descriptionPlace {
    margin: 7rem 2rem 0;
  }

  .descriptionPlace .descriptionPlace__description img {
    top: 0;
    left: 50%;
  }

  /************************************************ PROFILE  */
  .dashAction.--desktop .dashAction__item:last-child .card-body {
    columns: 2;
  }

  .contentProfile.--public {
    margin: 2rem 15rem;
  }
}
