{% extends "admin/layout/base.html.twig" %}

{% block menu_comment 'active' %}

{% block title 'Modifier le commentaire' %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Commentaires</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Modifier le commentaire</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="comments-list">
                    {{ include("admin/comment/_comment_form.html.twig", {'button_label': 'Enregistrer'}) }}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}