{% extends "admin/layout/base.html.twig" %}

{% block menu_category 'active' %}

{% block title 'Ajouter une catégorie' %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Catégories</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ajout d'une catégorie</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="categories-list">

                    {{ include("admin/category/_category_form.html.twig") }}

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
