{% extends "layout/base.html.twig" %}

{% block title 'Conditions générales d\'utilisation' %}

{% block body %}

<div class="container my-5">
	<section id="cgu" class="pages">
       
        <h2>Conditions générales d'utilisation</h2>

        <p>Contenu en cours d'édition !</p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare blandit dapibus. Aenean id elementum ante. In sed varius nunc. Nunc volutpat risus vel eleifend suscipit. Mauris consequat facilisis odio, at vestibulum elit efficitur quis. In mattis nunc justo. Curabitur tincidunt malesuada nunc nec venenatis. Donec semper hendrerit augue, pellentesque bibendum ex ullamcorper eget. Aliquam erat volutpat. Nulla ultrices porttitor enim, vitae rhoncus metus pharetra eu. Maecenas bibendum venenatis lorem a commodo. Aenean elit erat, laoreet id ultricies a, efficitur et sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Ut in posuere nibh, sed congue elit. Suspendisse elementum nunc ac turpis iaculis, ut rhoncus nibh dictum. Vestibulum blandit urna id ipsum mollis ornare. Nunc dolor ligula, sodales commodo luctus et, vulputate in quam. Praesent tincidunt, nulla nec venenatis molestie, enim sem feugiat turpis, sed faucibus lorem odio vitae neque. Etiam auctor turpis eu tincidunt feugiat. Mauris feugiat eros vitae varius blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere, lectus dictum scelerisque faucibus, nulla quam vestibulum metus, non dictum libero mauris at quam. Etiam bibendum condimentum massa, sed pharetra quam imperdiet vel. Cras imperdiet dictum justo id tincidunt. Donec porta tincidunt neque, eu viverra est lobortis sit amet.</p>
        <p>Phasellus risus enim, efficitur non est non, maximus blandit lectus. Integer eleifend ipsum at mollis ornare. Aenean ex magna, bibendum sed ornare ac, hendrerit sed mauris. Nullam eleifend, metus a posuere porta, urna augue scelerisque arcu, et iaculis nunc dui at purus. Maecenas rhoncus est vel mi aliquam, ac molestie ante sollicitudin. Nullam vestibulum eros accumsan metus consequat dictum. Cras consectetur rhoncus nulla, sed hendrerit enim rutrum non. Mauris in congue nulla. Nullam suscipit posuere augue ut blandit.</p>

    </section>
</div>

{% endblock %}