{% extends "layout/base.html.twig" %}

{% block title 'Politique de confidentialité' %}

{% block body %}

<div class="container my-5">
	<section id="privacy-policy" class="pages">
    
        <h2>POLITIQUE DE CONFIDENTIALITÉ</h2>

        <h3>ARTICLE 1&nbsp;: PRÉAMBULE</h3>
        <p>Cette politique de confidentialité s'applique au site <a href="https://place2go.herokuapp.com/">Place 2 Go</a>. <br></p>
        <p>La présente politique de confidentialité a pour but d'exposer aux utilisateurs du site&nbsp;:</p>
        
        <ul>
            <li>La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur. Il s'agit notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse mail, la localisation de l'utilisateur ou encore son adresse IP&nbsp;;</li>
            <li>Quels sont les droits des utilisateurs concernant ces données&nbsp;;</li>
            <li>Qui est responsable du traitement des données à caractère personnel collectées et traitées&nbsp;;</li> 
            <li>A qui ces données sont transmises&nbsp;;</li> 
            <li>Eventuellement, la politique du site en matière de fichiers "cookies".</li>
        </ul>

        <p>Cette politique de confidentialité complète les mentions légales et les Conditions Générales d'Utilisation que les utilisateurs peuvent consulter à l'adresse ci-après&nbsp;: <a href="https://place2go.herokuapp.com/cgu">https://place2go.herokuapp.com/cgu</a></p>
        
        <h3>ARTICLE 2&nbsp;: PRINCIPES GÉNÉRAUX EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DE DONNÉES</h3>
        <p>Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants&nbsp;:</p>
        
        <ul>
            <li>Licéité, loyauté et transparence&nbsp;: les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées&nbsp;;</li>
            <li>Finalités limitées&nbsp;: la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes conditions générales d'utilisation&nbsp;;</li>
            <li>Minimisation de la collecte et du traitement des données&nbsp;: seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées&nbsp;;</li>
            <li>Conservation des données réduites dans le temps&nbsp;: les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Lorsque cette information ne peut pas être communiquée, l'utilisateur est informé des critères utilisés pour déterminer la durée de conservation&nbsp;;</li>
            <li>Intégrité et confidentialité des données collectées et traitées&nbsp;: le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.<br><br></li>
        </ul>

        <p>Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées&nbsp;:</p>
        <ul>
            <li>L'utilisateur a expressément consenti au traitement&nbsp;;</li>
            <li>Le traitement est nécessaire à la bonne exécution d'un contrat&nbsp;;</li>
            <li>Le traitement répond à une obligation légale&nbsp;;</li>
            <li>Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique&nbsp;;</li>
            <li>Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique&nbsp;;</li>
            <li>Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</li>
        </ul>

        <h3>ARTICLE 3&nbsp;: DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE<h3>
        <h4>A. DONNÉES COLLECTÉES ET TRAITÉES ET MODE DE COLLECTE</h4>
        <p>Les données à caractère personnel collectées sur le site <span id="span_id_nom_du_site_internet">Place 2 go</span> sont les suivantes&nbsp;:</p>
        <div >
            <p class="ps-5"><span id="span_id_liste_donnees_collectees">Prénom, nom, email, date de naissance, photo (facultatif), téléphone (facultatif)</span></p>
            <p>Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site&nbsp;:</p>
            <p class="ps-5"><span id="span_id_operations_collectes_donnees">Lorsque le client s'inscrit sur le site pour proposer ou participer à des sorties</span> </p>
            <p>Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de&nbsp;: <span id="span_id_duree_conservation_donnees">- cookie d'analyse des données&nbsp;: 13 mois</span>.</p>
            <p>La collecte et le traitement des données répondent aux finalités suivantes&nbsp;:</p>
            <p class="ps-5"><span id="span_id_finalite_traitement_donnees">- Les données sont enregistrées pour que les autres membres sachent avec qui ils vont partager un moment.<br>- Pour que le site puisse authentifier un membre.</span></p>
            <p>Les traitements de données effectués sont fondés sur les bases légales suivantes&nbsp;:</p>
            <p class="ps-5"><span id="span_id_bases_legales">- Consentement de l'utilisateur</span></p>
        </div>

        <h3>B. TRANSMISSION DES DONNÉES A DES TIERS</h3>

        <p>Les données à caractère personnel collectées par le site ne sont transmises à aucun tiers, et ne sont traitées que par l'éditeur du site. <br><br></p>
        
        <h3>C. HÉBERGEMENT DES DONNÉES</h3>
        <p>Le site <span id="span_id_nom_du_site_internet">Place 2 go</span> est hébergé par&nbsp;: <span id="span_id_denomination_sociale_de_l_hebergeur">Heroku</span>, dont le siège est situé à l'adresse ci-après&nbsp;:</p>
        <p style="padding-left: 30px;"><span id="span_id_siege_social_de_l_hebergeur">415 Mission Street Suite 300, 94105 San Francisco, CA</span></p>
        <p>L'hébergeur peut être contacté au numéro de téléphone suivant&nbsp;: <span id="span_id_telephone_de_l_hebergeur"><span class="variable_vide">________</span></span>. </p>
        <p>Les données collectées et traitées par le site sont transférées vers le(s) pays suivant(s)&nbsp;: <span id="span_id_pays_transfert_donnees">Europe</span>. </p>
        
        <h3>ARTICLE 4&nbsp;: RESPONSABLE DU TRAITEMENT DES DONNÉES </h3>
        <h4>A. LE RESPONSABLE DU TRAITEMENT DES DONNÉES</h4>
        <p>Le responsable du traitement des données à caractère personnel est&nbsp;: <span id="span_id_prenom_nom_responsable">Mr le responsable</span>. Il peut être contacté de la manière suivante&nbsp;:</p>
        <p style="padding-left: 30px;"><span id="span_id_methode_contact_rtd">Le responsable peut être contacté via le formulaire de contact du site.</span></p>
        <p>Le responsable du traitement des données est chargé de déterminer les finalités et les moyens mis au service du traitement des données à caractère personnel. <br><br></p>
        
        <h4>B. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES</h4>
        <p>Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.</p>
        <p>Le site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le site sont sécurisés.</p>
        <p>Un certificat SSL ("Secure Socket Layer" Certificate) a pour but de sécuriser les données échangées entre l'utilisateur et le site. </p>
        <p>De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.</p>
        <p>Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen. <br><br></p>
        
        <h3>ARTICLE 5&nbsp;: DROITS DE L'UTILISATEUR </h3>
        <p>Conformément à la réglementation concernant le traitement des données à caractère personnel, l'utilisateur possède les droits ci-après énumérés.</p>
        <p>Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer&nbsp;: ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.</p>
        <p>Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 (trente) jours maximum.<br><br></p>
        
        <h4>A. PRÉSENTATION DES DROITS DE L'UTILISATEUR EN MATIÈRE DE COLLECTE ET TRAITEMENT DE DONNÉES</h4>
        <h5>a. Droit d'accès, de rectification et droit à l'effacement</h5>
        <p>L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée&nbsp;:</p>
        <p style="padding-left: 30px;"><span id="span_id_procedure_acces_donnees">L'utilisateur peut modifier ses données directement sur son espace membre mis à part sa date de naissance qui nécessite de faire une demande via email ou par le formulaire de contact.</span> </p>
        <p>S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel en suivant la procédure suivante&nbsp;:</p>
        <p style="padding-left: 30px;"><span id="span_id_procedure_suppression_compte">L'utilisateur doit en faire la demande par email ou via le formulaire de contact du site</span><br><br></p>
        
        <h5>b. Droit à la portabilité des données</h5>
        <p>L'utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en se conformant à la procédure ci-après&nbsp;:</p>
        <p style="padding-left: 30px;"><span id="span_id_procedure_portabilite_donnees_personnelles"><span class="variable_vide">________</span></span></p>
        
        <h5>c. Droit à la limitation et à l'opposition du traitement des données</h5>
        <p>L'utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'utilisateur.</p>
        <p>Afin de demander la limitation du traitement de ses données ou de formuler une opposition au traitement de ses données, l'utilisateur doit suivre la procédure suivante&nbsp;:</p>
        <p style="padding-left: 30px;"><span id="span_id_procedure_limitation_traitement"><span class="variable_vide">________</span></span><br><br></p>
        
        <h5>d. Droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé</h5>
        <p>Conformément aux dispositions du règlement 2016/679, l'utilisateur a le droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé si la décision produit des effets juridiques le concernant, ou l'affecte de manière significative de façon similaire.</p>
        
        <h5>e. Droit de déterminer le sort des données après la mort</h5>
        <p>Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.</p>
        
        <h5>f. Droit de saisir l'autorité de contrôle compétente</h5>
        <p>Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette décision, ou, s'il pense qu'il est porté atteinte à l'un des droits énumérés ci-dessus, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent. <br><br></p>
        
        <h4>B. DONNÉES PERSONNELLES DES PERSONNES MINEURES</h4>
        <p>Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.</p>
        <p>Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées.</p>
        <p>L'éditeur du site se réserve le droit de vérifier par tout moyen que l'utilisateur est âgé de plus de 15 ans, ou qu'il aura obtenu l'accord d'un représentant légal avant de naviguer sur le site.</p>
        
        <h3>ARTICLE 6&nbsp;: UTILISATION DES FICHIERS "COOKIES"</h3>
        <p>Le site a éventuellement recours aux techniques de "cookies".</p>
        <p>Un "cookie" est un fichier de petite taille (moins de 4 ko), stocké par le site sur le disque dur de l'utilisateur, contenant des informations relatives aux habitudes de navigation de l'utilisateur.</p>
        <p>Ces fichiers lui permettent de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur.</p>
        <p>Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse de données à caractère personnel, le consentement de l'utilisateur est nécessairement demandé.</p>
        <p>Ce consentement de l'utilisateur est considéré comme valide pour une durée de 6 (six) mois maximum. A l'issue de cette période, le site demandera à nouveau l'autorisation de l'utilisateur pour enregistrer des fichiers "cookies" sur son disque dur.</p>
        
        <h5>a. Opposition de l'utilisateur à l'utilisation de fichiers "cookies" par le site</h5>
        <p>Les cookies non essentiels au fonctionnement du site ne sont déposés sur le terminal de l'utilisateur qu'après avoir obtenu son consentement. L'utilisateur peut retirer son consentement à tout moment, de la manière suivante&nbsp;:</p>
        
        <p style="padding-left: 30px;"><span id="span_id_consentement_cookies"><span class="variable_vide">________</span></span></p>
        <p>De manière plus générale, il est porté à la connaissance de l'utilisateur qu'il peut s'opposer à l'enregistrement de ces fichiers "cookies" en configurant son logiciel de navigation.</p>
        <p>Pour information, l'utilisateur peut trouver aux adresses suivantes les démarches à suivre afin de configurer son logiciel de navigation pour s'opposer à l'enregistrement des fichiers "cookies"&nbsp;:</p>
        
        <ul>
            <li><strong>Chrome</strong>&nbsp;: <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a></li>
            <li><strong>Firefox</strong>&nbsp;: <a href="https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences</a></li>
            <li><strong>Safari</strong>&nbsp;: <a href="http://www.apple.com/legal/privacy/fr-ww/">http://www.apple.com/legal/privacy/fr-ww/</a></li>
            <li><strong>Internet Explorer</strong>&nbsp;: <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
            <li><strong>Opera</strong>&nbsp;: <a href="http://www.opera.com/help/tutorials/security/cookies/">http://www.opera.com/help/tutorials/security/cookies/</a></li>
        </ul>

        <p><br>Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement du site provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'éditeur du site.</p>
        
        <h5>b. Description des fichiers "cookies" utilisés par le site</h5>
        <p>L'éditeur du site attire l'attention de l'utilisateur sur le fait que les cookies suivants sont utilisés lors de sa navigation&nbsp;:</p>
        <p style="padding-left: 30px;"><span id="span_id_liste_cookies"><span class="variable_vide">________</span></span> <br><br></p>
        
        <h3>ARTICLE 7&nbsp;: CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</h3>
        <p>La présente <a href="http://place2go.herokuapp.com/privacy-policy">politique de confidentialité</a> peut être consultée à tout moment à l'adresse ci-après indiquée&nbsp;: <a href="http://place2go.herokuapp.com/privacy-policy">http://place2go.herokuapp.com/privacy-policy</a></p>
        <p>L'éditeur du site se réserve le droit de la modifier afin de garantir sa conformité avec le droit en vigueur.</p>
        <p>Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette politique de confidentialité afin de se tenir informé des derniers changements qui lui seront apportés.</p>
        <p>Toutefois, en cas de modification substantielle de cette politique, l'utilisateur en sera informé de la manière suivante&nbsp;:</p>
        <p style="padding-left: 30px;"><span id="span_id_modification_substantielle_moyen_information">Par notification "push" lors d'une visite de l'utilisateur</span></p>

        <p>Il est porté à la connaissance de l'utilisateur que la dernière mise à jour de la présente politique de confidentialité est intervenue le&nbsp;: <span id="span_id_date_derniere_maj" class="encours">31/08/2021</span>.</p>
        
    </section>
</div>

{% endblock %}