{% extends "layout/base.html.twig" %}

{% block title '404' %}

{% block body %}
	<section class="error__page">
		<a class="return__home btn button-secondary" href="{{ path("app_home") }}">Retour à l'accueil</a>
		<div class="container__error">
			<p class="error__text">Oops ! Je crois que vous vous êtes égarés, attention aux sorties de route !</p>
		</div>
	</section>
{% endblock %}
