{% extends "layout/base.html.twig" %}

{% block title '403' %}

{% block body %}

	<section class="--forbidden">	
		<a class="action-home btn button-secondary" href="{{ path("app_home") }}">Retour à l'accueil</a>
	</section>
	

{% endblock %}